.add-department{
    .modal-dialog{
        .modal-content{
            background-color: #FCE8FB;
            padding: 50px;
            border-radius: 10px;
            // border: 1px solid#7b2182;
            box-shadow: 0px 5px 12px #7B2182 inset, 0px 7px 5px #CCA8CF;
            .modal-body{
                .add-department-wrapper{
                    form{
                        color: #7B2182;
                        h6{
                            border-bottom: 1px solid#7B2182;
                            padding-bottom: 10px;
                            font-size: 20px;
                        }
                        .add-department-single{
                            margin: 10px 0;
                            label{
                                margin: 10px 0;
                            }

                        }
                    }


                  
                }

            }
        }

    }
}
.edit-department{
    .modal-dialog{
        .modal-content{
            background-color: #FCE8FB;
            padding: 50px;
            border-radius: 10px;
            // border: 1px solid#7b2182;
            box-shadow: 0px 5px 12px #7B2182 inset, 0px 7px 5px #CCA8CF;
            .modal-body{
                .add-department-wrapper{
                    form{
                        color: #7B2182;
                        h6{
                            border-bottom: 1px solid#7B2182;
                            padding-bottom: 10px;
                            font-size: 20px;
                        }
                        .add-department-single{
                            margin: 10px 0;
                            label{
                                margin: 10px 0;
                            }

                        }
                    }


                  
                }

            }
        }

    }
}